.site-block{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    height: 50px;
    background: #f8f9fa;
    color: white;
}
p{
    font-family: 'Playfair Display', serif;
}
h1,h2,h3{
    font-family: 'Playfair Display', serif;
}
.languageButton{
    background-color: #e2e2e2!important;
    border-color: #e2e2e2!important;
}
div.row{
    margin-right: 0!important;
    margin-left: 0!important;
}

.icon{
    margin-right: 10px;
}

.adminButton{
    background-color: #343a40!important;
    border-color: #343a40!important;
}
.ck-editor__editable_inline {
    max-height: 400px !important;
}
.react-time-picker{
    /*display: -webkit-box!important;*/
}
.react-time-picker__wrapper{
    /*width: 50px;*/
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 510px!important;
        /*margin: 1.75rem auto;*/
    }
}
.adminPageMainDiv{
}




