/*
* === NAVIGATION ===
*/
.navbar-light .navbar-nav .nav-link{
    /*color: white!important;*/
    font-family: 'Playfair Display', serif;
    font-size:20px;
}
.whiteNavbar{
    background-color: 	#090605;
}

.nav-link{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

/*
* === HEADER ===
*/

.timerBlock{
    height: 100%;
    background-color: #00000085;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    line-height: 2;
}
.blockText{
    font-family: 'Playfair Display', serif;
    padding: 10px;
    position: absolute;
    bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 0;
}
.datePlace {
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: white;
}
.inviteText{
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: white;
}
.hashtag{
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: white;
}


/*
* === TIMER ===
*/

.timer{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 35px;
}

.Countdown{
    margin: 10px auto;
    padding-bottom: 20px;
}
.circle{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    border: 4px white solid;
}

.Countdown-col{
    display: inline-block;
}

.Countdown-col-element{
    display: inline-block;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}


/*
* === SITE BLOCKS ===
*/

.mainPageBlock{
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 15px;
}

.odBlock{
    /*background-color:#f3f3f3 ;*/
    background-color: #efefef;
    color: black;
}
.evenBlock{
    background-color: white;
    color: black;
}

/*
* === SITE TEXT ===
*/

.title{
    font-family: 'Playfair Display', serif;
}
.site-text{
    font-size: 21px;
}

.headline{
    position: relative;
}


.headline:after
{
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 100%;
    border:1px solid #000000;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);}

/*
* === MAP TEXT ===
*/

.beforeMap{
    position: absolute;
    left: 7%;
    top: 5%;
    background: black;
    color: white;
    padding: 30px;
}

/*
* === INVITATIOM ===
*/
.visible{
    display: block;
}
.invisible{
    display: none;
}


/*
* === MOBILE ===
*/

@media (min-width:320px)  {
        h2{font-size: 17px!important;
            font-weight: 600!important;}
        #gift{
            width: 60%;
        }
        #invitation{
            background-color: white;
            color: black;
        }
        #acceptButton{
            background-color:black;
            border-color:black;
            color: white;
        }
        .aboutUsImage{
            width: 100%;
        }
        .header {
            margin: 8% -15% -30% -12%;
            width: 190%;
        }
        #story1{
            text-align: center;
        }
        #story2{
            text-align: center;
        }
        #aboutUsImage1{
            display: block;
        }
        #aboutUsImage2{
            display: none;
        }

        #programImage{
            width: 100%;
        }



        .beforeMap{
            position: absolute;
            left: 15%;
            top: 4%;
            background: black;
            color: white;
            padding: 2vw;
            font-size: 3vw;
        }


        #dressCodeImage1{
            display: none;
        }
        #dressCodeImage2{
            display: block;
        }

        .blockText{
            bottom: 14%;
            left: 6%;
        }
        .hashtag, .datePlace,.timer{
            font-size: 3.9vw;
        }
        .circle{
            width: 11vw;
            height: 11vw;
        }
        .Countdown-col-element{
            margin: 0 15px;
        }
}
@media (min-width:480px)  {
    .beforeMap{
        position: absolute;
        left: 26%;
        top: 4%;
        background: black;
        color: white;
        padding: 2vw;
        font-size: 2vw;
    }


    .blockText{
        bottom: 31%;
        left: 9%;
    }
    .hashtag, .datePlace,.timer{
        font-size: 3.5vw;
    }
    .circle{
        width: 8vw;
        height: 8vw;
    }

}
@media (min-width:600px)  {
    .circle {
        width: 9vw;
        height: 9vw;
    }
    .blockText{
        bottom: 31%;
        left: 8%;
    }
    .hashtag, .datePlace,.timer{
        font-size: 3.5vw;
    }
}
@media (min-width:801px)  {

    .beforeMap{
        position: absolute;
        left: 7%;
        top: 4%;
        background: black;
        color: white;
        padding: 2vw;
        font-size: 1.6vw;
    }
    .blockText{
        bottom: 31%;
        left: 8%;
    }
    .hashtag, .datePlace,.timer{
        font-size: 3.5vw;
    }
    .header {
        margin: 6% -15% -30% -12%;
    }
}
@media (min-width:1025px) {
    .blockText{
        bottom: 37%;
        left: 8%;
    }
    .hashtag, .datePlace,.timer{
        font-size: 3.5vw;
    }
    .header {
        margin: 3% -15% -30% -12%;
    }
    #acceptButton{
        background-color:white;
        border-color:white;
        color: black;
    }
    #invitation{
        background-image: url("../assets/invite5.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center top;
        color: white;
    }

}
@media (min-width:1281px) {
    .circle {
        width: 7vw;
        height: 7vw;
    }

    h2{
        font-size: 1.5em!important;
        font-weight: bold!important;
    }
    .blockText{
        bottom: 40%;
        left: 12%;
    }
    .hashtag, .datePlace,.timer{
        font-size: 3vw;
    }
    .header {
        margin: 4% -15% -30% -12%;
    }
    div.col-xl-6{
                flex: 0 0 100%;
                max-width: 100%;
            }
    #gift{
        width: 30%;
    }

}
@media (min-width: 1920px) {
    .circle {
        width: 6vw;
        height: 6vw;
    }
    .beforeMap{
        position: absolute;
        left: 7%;
        top: 4%;
        background: black;
        color: white;
        padding: 2vw;
        font-size: 1vw;
    }
    .blockText{
        bottom: 50%;
        left: 12%;
    }
    .hashtag, .datePlace,.timer{
        font-size: 2.5vw;
    }
    .header {
        margin: 0% -15% -30% -12%;
    }
    div.col-xl-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
    #invitation{
                color: white;
            }
            #aboutUsImage1{
                display: none;
            }
            #aboutUsImage2{
                display: block;
            }
            #programImage{
                width: 124%;
            }
            .aboutUsImage{
                width: 133%;
            }

}


@media (min-width: 576px){
    .timerBlock {
        padding-right: 50px;
        padding-left: 50px;
        height: 100%;

    }
}







