.adminSiteBlock{
    margin:20px;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container Iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.react-time-picker__inputGroup{
    min-width: auto;
}

